# mariadb automated replication by Hosein Yousefi <yousefi.hosein.o@gmail.com>
# GITHUB: https://github.com/hosein-yousefii

# these configs are mandatory, Don't change them.
# able to add other configs at the end of this file.
[mariadb]
log_bin         = node01_log_bin
server_id       = 1
